@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.add__note__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__note {
    width: 575px;
    height: 475px;
    background-color: white;
    border-radius: 30px;

}

.add__note__body {
    display: flex;
    flex-direction: column;
}

form {
    font-family: 'Lato', sans-serif;
    margin: auto;
    width: 510px;
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 25px;
}

input {
    font-size: 16px;
    padding: 1px 2px 1px 15px;
    display: block;
    height: 45px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    border-color: black;
}

textarea {
    font-size: 16px;
    padding: 15px 2px 1px 15px;
    display: block;
    height: 200px;
    margin: 10px 0 10px 0;
    resize: none;
    border-radius: 15px;
    border-color: black;
}

select {
    margin: 10px 0 10px 0;
    appearance: none;
    padding: 1px 10px 1px 15px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 15px;
    border-color: black;
    color: #666666;
}

.buttons img {
    padding: 0;
}

.buttons a {
    display: flex;
    width: 30px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

button {
    width: 30px;
    height: 50px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__folder {
    width: 575px;
    height: 165px;
    background-color: white;
    border-radius: 30px;
}

.note__id {
    display: none;
}