.point {
    display: flex;
    justify-content: space-between;
}

.pointView {
    height: 40px;
    display: flex;
    align-items: center;
}

.uncheck {
    width: 20px;
    height: 20px;
    padding: 0 5px 0 5px;
}

.check {
    width: 20px;
    height: 20px;
    padding: 0 5px 0 5px;
}

#addInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#myInputs {
    flex-grow: 1;
}

.addPoint {
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
}

.addPoint img{
    padding: 0 5px 0 5px;
}